fieldset {
    width: 600px;
    height: 1040px;
    background-color: aquamarine;
    border: 1px dotted black;
}

hr {
    border: 2px solid black;
}
#Checkbox {
    border-color: black;
}
#Gender {
    border-color: black;
}
#Hender {
    border-color: black;
}
#gender {
    border-color: black;
}
.input {
    border-color: black;
    width: 400px;
}
button {
    background-color: blue;
    width: 85px;
    height: 30px;
}
a {
    color: #ffff;
}